{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contraseña Cambiada - Sanyzure</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="login-page">

    <div class="login-grid-container">

        <aside class="login-mascot-container">
            <img src="{% static 'img/tami-mascota.png' %}" alt="Mascota Tami celebrando" class="login-mascot-img">
            <h2 class="login-mascot-title">
                ¡Perfecto!
                <span class="color-turquesa">Tu contraseña se cambió</span>
            </h2>
            <p class="login-mascot-text">
                Ya puedes ingresar con tu nueva clave.
            </p>
        </aside>

        <main class="login-container">
            <h1 class="titulo-principal">¡Éxito!</h1>
            <p class="instruccion" style="font-weight: 600; color: var(--color-exito);">
                Su contraseña ha sido cambiada correctamente.
            </p>
            <a href="{% url 'login' %}" class="btn-ingresar" style="font-size: 1.5rem; padding: 18px;">
                Ir a la página de ingreso
            </a>
        </main>
        
    </div> </body>
</html>