{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Revisar Correo - Sanyzure</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="login-page">

    <div class="login-grid-container">

        <aside class="login-mascot-container">
            <img src="{% static 'img/tami-mascota.png' %}" alt="Mascota Tami feliz" class="login-mascot-img">
            <h2 class="login-mascot-title">
                ¡Listo!
                <span class="color-turquesa">Email enviado</span>
            </h2>
            <p class="login-mascot-text">
                Te mandé un correo para que puedas volver a entrar.
            </p>
        </aside>

        <main class="login-container">
            <h1 class="titulo-principal">¡Email enviado!</h1>
            <p class="instruccion" style="font-weight: 600; color: var(--color-exito);">
                Le hemos enviado un correo con las instrucciones para reiniciar su contraseña.
            </p>
            <p class="instruccion">
                Por favor, revise su bandeja de entrada (y la carpeta de spam).
            </p>
            <a href="{% url 'login' %}" class="btn-ingresar" style="font-size: 1.5rem; padding: 18px;">
                Volver a la página de ingreso
            </a>
        </main>
        
    </div> </body>
</html>